.food-munch-logo {
width: 80px;
height: 70px;
}
#navItem1 {
color: white;
font-family: "Roboto";
}
#navItem2 {
color: white;
font-family: "Roboto";
}
#navItem3 {
color: white;
font-family: "Roboto";
}
#navItem4 {
color: white;
font-family: "Roboto";
}