{% extends "base.html" %}
{% block title %} <title>home</title>{% endblock %}
{% block content %}
<style>
    .banner-section-bg-container {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/foodmunch-banner-bg.png");
    height: 100vh;
    background-size: cover;
    }
    .banner-heading {
    color: white;
    font-family: "Roboto";
    font-size: 45px;
    font-weight: 300;
    }
    .banner-caption {
    color: #f5f7fa;
    font-family: "Roboto";
    font-size: 24px;
    font-weight: 300;
    }
    .custom-button {
    color: white;
    background-image: linear-gradient(#d0b200, #a58d00);
    width: 130px;
    height: 45px;
    border-width: 0;
    border-radius: 8px;
    margin-right: 10px;
    }
    .custom-outline-button {
    color: #d0b200;
    background-image: linear-gradient(#d0b200, #a58d00);
    color: white;
    width: 180px;
    height: 45px;
    border-style: solid;
    border-width: 1px;
    border-color: #d0b200;
    border-radius: 8px;
    }
    </style>
</head>
<body>
    <!-- <div class="banner-section-bg-container d-flex justify-content-center flex-column">
        <div class="text-center">
          <h1 class="banner-heading mb-3">Get Delicious Food Anytime</h1>
          <p class="banner-caption mb-4">Eat Smart & Healthy</p>
          <button class="custom-button">View Menu</button>
          <button class="custom-outline-button">Order Now</button>
        </div>
      </div> -->
      <div class="banner-section-bg-container d-flex justify-content-center flex-column">
        <div class="text-center">
          <h1 class="banner-heading mb-3">Get Delicious Food Anytime</h1>
          <p class="banner-caption mb-4">Eat Smart & Healthy</p>
          <a href="{% url 'ExploreMenuSection' %}">
            <button class="custom-button">View Menu</button>
          </a>
          <a href="{% url 'WhyWeChooseSection' %}">
            <button class="custom-button">Why we choose</button>
          </a>
          <a href="{% url 'DeliveryAndPaymentSection' %}">
            <button class="custom-outline-button">DeliveryAndPayment</button>
          </a>
        </div>
      </div>
{% endblock %}
